# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
venv/
ENV/
env/
.idea/

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# Node / Frontend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/

# =========================
# Secrets (IMPORTANT)
# =========================
.env
HF_TOKEN
*.key
*.pem
